.image-background {
    height: 25em;
    object-fit: cover;
    object-position: 0 30%;
    width: 100%;
}
.image-title {
    position: absolute;
    top: 3%;
    left: 28%;
    width: 23em;
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

html{
    width: 100%;
}

form{
    display: inline;
}



.header__container__input{
    position: absolute;
    left: 77.5%;
    top: 12%;
}

.input{
    border: 0;
    outline: none;
    font-size: 16px;
    margin-right: .25rem;
    height: 23px;
    width: 70%;
    color: #353534;
    border-radius: 8px;
    background-color: #ebe8d6bb;
    font-family: 'Source Sans Pro', sans-serif;
    caret-width: 10px;
}

.input::placeholder {
    font-size: 14px;
    color: #113;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn{
    border: 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #D9E7CB;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    height: 25px;
    width: 55px;
    border-radius: 10px;
}

@media (max-width: 1079px) {  
    .image-title {
    width: 15em;
}

.header__container__input{
    position: absolute;
    top: 50%;
    left: 40%;
}
.ResidentList {
    grid-template-columns: 150px 150px ;
  }

}

@media ( max-width: 884px) {
    .ResidentList {
        grid-template-columns: 150px  ;
      }
    .container__localInfo_ {
    display: grid;
    grid-auto-rows: 100px;
    margin: 0;
    }

    .container__localInfo {
        grid-template-columns:  1fr;
        width: 55vw;
        font-size: 14px;
        gap: 10px;
      }
      .container__localInfo_ {
        padding: 0;
        height: 70px;
        display: flex;
      }
      h2{
        
        height: 20px;
      }
      
}